* {
    box-sizing: border-box;
    background: #2D0922;
    color: #729FCF;
}
.peg, .piece {
    border: white solid 0.2vw;
    margin: 0.5vw;
}
button {
    margin: 0.5vw;
    border-radius: 5vw;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vw;
    border-bottom: 0.5vw solid white;
}
.winner {
    position: absolute;
    min-height: 20vw;
    width: 60vw;
    background-color: rgba(20, 20, 20, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: white solid 0.2vw;
}
.hidden {
    display: none;
}
.pegs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
}
.peg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30vw;
}
.piece {
    height: 2vw;
    background-color: #2D0922;
}
.active {
    background-color: #8AE234;
}