* {
    box-sizing: border-box;
    border: white solid 0.2vw;
    margin: 0.5vw;
    background: black;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pegs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
}
.peg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 30vw;
}
.piece {
    height: 5vw;
}