* {
    box-sizing: border-box;
    font-family: 'Play', sans-serif;
    font-weight: bold;
    color: #729FCF;
}
h1 {
    font-size: 4em;
    margin: 0;
    padding-top: 2vh;
}
nav>div {
    padding: 0.25em 0.25em 0 0.25em;
    font-size: 2em;
}
nav>div:hover {
    background-color: rgba(45,9,34,0.7);
    padding-top: 0;
    padding-bottom: 0.25em;
}
.active-tab {
    background-color: rgba(45,9,34,0.7);
    padding-top: 0;
    padding-bottom: 0.25em;
}
.peg {
    background: rgba(45,9,34,0.7);
    max-width: 275px;
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.peg, .piece {
    border: white solid 0.2vw;
    margin: 0.5vw;
}
button {
    margin: 0.5vw;
    border-radius: 5vw;
    font-size: 1em;
    padding: 0.25em;
}
body {
    background-image: url("claudio-testa-fb_CZ4hZXWo-unsplash.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
nav {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2vw;
    border-bottom: 0.5vw solid white;
}
.winner {
    position: absolute;
    top: 25%;
    min-height: 20vw;
    width: 60vw;
    background-color: rgba(20, 20, 20, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: white solid 0.2vw;
}
.hidden {
    display: none;
}
.pegs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.piece {
    height: 2vw;
    background-color: #2D0922;
}
.active {
    background-color: #8AE234;
}
.background-credit {
    padding-top: 2em;
}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    nav>div {
        font-size: 1em;
    }
    .pegs {
        display: flex;
        flex-direction: column;
    }
    .peg {
        width: 80vw;
        height: 25vh;
    }
    .piece {
        height: 2.5vh;
    }
    body {
        margin: 0;
    }
}